.help {
    background-color: #f5dcdc;
    border: 1px solid #f14141;
    font-size: 0.9em;
    padding: 10px;
    position: relative;
    width: 300px;
    margin: auto;
}

.help::before {
    border-color: transparent #f14141 transparent transparent ;
    border-style: solid;
    border-width: 14px;
    content: '';
    left: -28px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
}